.banner-container {
    animation: animate 80s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(../../../assets/cse1.jpeg);
        opacity: 0.8;
    }

    20% {
        background-image: url(../../../assets/civil1.jpg);
        opacity: 0.8;
    }

    40% {
        background-image: url(../../../assets/civil2.jpg);
        opacity: 0.8;
    }

    60% {
        background-image: url(../../../assets/eee1.jpg);
        opacity: 0.8;
    }
    80% {
        background-image: url(../../../assets/eee2.jpeg);
        opacity: 0.8;
    }
    
  
}