.banner-container {
    animation: animate 80s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(../../../assets/pic1.jpeg);
        opacity: 0.9;
    }

    20% {
        background-image: url(../../../assets/pic2.jpg);
        opacity: 0.9;
    }

    40% {
        background-image: url(../../../assets/pic3.jpeg);
        opacity: 0.9;
    }

    60% {
        background-image: url(../../../assets/pic4.jpeg);
        opacity: 0.9;
    }
    80% {
        background-image: url(../../../assets/pic5.jpeg);
        opacity: 0.9;
    }
    
  
}